#nav
  min-height 30px
  max-height 30px
  box-shadow  0px 1px 3px #444

#logo
  z-index 103
  position absolute
  top 2px
  left 2px
  height 35px
  width 35px
  margin 2px 0 0 2px
  filter drop-shadow(0px 1px 3px #444)

  &:active
    height 34px
    width 34px
    margin 3px 0 0 3px