@import '../../../css/colors.styl';

.container
  margin-bottom 15px

.paper
  padding 10px
  background white
  box-shadow z1

.paper-interior
  overflow auto

.drag-enabled
  cursor grabbing
  box-shadow z3
  transition zt