#box {
  display: inline-block;
  height: 100px;
  width: 360px;
  margin: 10px;
  background: red;
  border: 2px solid darkred;
}

#bbox {
  display: inline-block;
  height: 100px;
  width: 360px;
  margin: 10px;
  background: blue;
  border: 2px solid darkblue;
}

#bbbox {
  display: inline-block;
  height: 100px;
  width: 360px;
  margin: 10px;
  background: green;
  border: 2px solid darkgreen;
}