<template name="content">

	<div id="content" class="ui centered grid" style="padding-top:10px">

		<div class="column" style="width:32%; padding:0.5rem">
			<div class="ui one cards">
				<div class="centered card z1">
					<div class="content">
						<div class="header">Elliot Fu</div>
						<div class="meta">Friend</div>
						<div class="description">
							Elliot Fu is a film-maker from New York.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="column" style="width:32%; padding:0.5rem">
			<div class="ui one cards">
				<div class="centered card z1">
					<div class="content">
						<div class="header">Elliot Fu</div>
						<div class="meta">Friend</div>
						<div class="description">
							Elliot Fu is a film-maker from New York.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="column" style="width:32%; padding:0.5rem">
			<div class="ui one cards">
				<div class="centered card z1">
					<div class="content">
						<div class="header">Elliot Fu</div>
						<div class="meta">Friend</div>
						<div class="description">
							Elliot Fu is a film-maker from New York.
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
</template>
