#header 
  position absolute
  top 0
  right 0
  left 0
  height 30px
  background #111

#content
  position absolute
  display inline-block
  text-align center
  top 30px
  bottom 25px
  left 0
  right 50px
  height calc(100% - 55px)
  width calc(100% - 50px)
  background #f8f8f8

#sidebar
  position absolute
  display inline-block
  top 30px
  bottom 0
  right 0
  height calc(100% - 30px)
  width 50px
  background #333

#footer
  position absolute
  display inline-block
  bottom 0
  left 0
  right 50px
  height 25px
  width calc(100% - 50px)
  background #777