@import '../components/layout/layout.styl';

html
  size 100%
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%

body
  size 100%
  margin 0
  font-family 'Source Sans Pro' ,'Helvetica Neue', Helvetica, Arial, sans-serif
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased

h1
h2
h3
h4
p
blockquote
figure
ol
ul 
  margin 0
  padding 0
  user-select text

main
li 
  display block

h1
h2
h3
h4 
  font-size inherit

strong 
  font-weight bold

a
button 
  color inherit
  transition .3s

a 
  text-decoration none

button 
  overflow visible
  border 0
  font inherit
  -webkit-font-smoothing inherit
  letter-spacing inherit
  background none
  cursor pointer

-moz-focus-inner 
  padding 0
  border 0

focus 
  outline 0

img 
  max-width 100%
  height auto
  border 0

#container
  height 100%
    width 100%
    
#private
    height 100%
    width 100%
